[submodule "Externals/Qt"]
	path = Externals/Qt
	url = https://github.com/dolphin-emu/ext-win-qt.git
	branch = master
[submodule "Externals/WIL"]
	path = Externals/WIL
	url = https://github.com/microsoft/wil.git
	branch = master
